<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Home</h1>
	<p>Aquí mostraremos los datos que traemos de las Redes sociales</p>
	<h2><strong> Usuario: </strong> <%= name %></h2>
	<p><strong> Proveedor: </strong> <%= proveedor %></p>
	<img src="<%= photoUrl %>" alt="">

	<a href="/redes/logout">Cerrar Sesión</a>
</body>
</html>