<!DOCTYPE html>
<html>
  <head>
    <title>SocialAuthTest</title>
    <meta charset="utf8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SocialAuthTest</h1>
    <p>Logeate con Facebook</p>
    <a href="/redes/facebook/login">Login con Facebook</a>
    <a href="/redes/google/login">Login con Google</a>
    <a href="/redes/twitter/login">Login con Twitter</a>
    <a href="/redes/github/login">Login con Github</a>
  </body>
</html>
