<% include cabecera %>

<div class="container">
	<div class="row">
		<h1>Usuarios</h1>	

		<div class="col-md-8">	
			<form class="form-horizontal">
				<div class="form-group">
				    <label class="col-md-4 control-label">Usuario</label>
				    <div class="col-md-6">
				      <input type="text" class="form-control" name="paciente" placeholder="Nombre Completo">
				    </div>					
				</div>
				<div class="form-group">
				    <label class="col-md-4 control-label">Contraseña</label>
				    <div class="col-md-6">
				      <input type="password" class="form-control" name="contrasena" placeholder="Contraseña">
				    </div>					
				</div>
				<div class="form-group text-center">
					<a class="btn btn-success">Insertar / Editar</a>
					<a class="btn btn-danger">Eliminar</a>
				</div>						
			</form>
		</div>
	</div>
</div>


<% include pie %>
