<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Registro</h1>
	<form method="post" action="/insertar">
		<input type="text" placeholder="Nombre" name="nombre"><br>
		<input type="email" placeholder="Correo" name="correo"><br>
		<input type="submit" name="enviar" value="Registrar">
	</form>

</body>
</html>