<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Welcome to Home, <%= username %></h1>
	<div class="container">
    	<a href="/logout">Cerrar Sesión</a>
    </div>
</body>
</html>