<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf8">
</head>
<body>

<h1>Eliminación</h1>
<form method="post" action="/usuarios/<%= registro._id %>/?_method=delete">
	<input type="submit" name="bntEnviar" value="Enviar"> 
</form>

</body>
</html>