<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="hero-unit">
			<h1><%= title %></h1>
			<p>Welcome to <%= title %></p>
			<p><a class="btn btn-primary btn-large">Learn more</a></p>
		</div>
	</body>
</html>
