<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf8">
</head>
<body>

<table>
	<tr>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Acción</th>
	</tr>
	<% registros.forEach(function(item){ %>
		<tr>
			<td><%= item.nombre %></td>
			<td><%= item.apellido %></td>
			<td>
				<a href="/usuarios/<%= item._id %>">Editar</a>
			</td>
		</tr>
	<% }) %>
</table>

<form method="post" action="/usuarios">
	<input type="text" name="nombre" placeholder="Ingrese su nombre"><br>
	<input type="text" name="apellido" placeholder="Ingrese su apellido"><br>
	<input type="submit" name="bntEnviar" value="Enviar"> 
</form>












</body>
</html>