<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Passport Local Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="container">
		<div class="row">
			<header class="col-md-12">
				<h1>ola mundo k ase</h1>
			</header>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<form action="/login" method="post">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<input placeholder="Username" type="text" name="username" id="username">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<input placeholder="Password" type="password" name="password" id="password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<input type="submit" value="Login" class="btn btn-success">
							</div>
						</div>
					</div>
				</form>			
			</div>
		</div>
	</div>
</body>
</html>