<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>LOGIN</h1>

	<form action="/usuario" method="post">
		<input type="text" placeholder="Usuario" name="usuario"><br>
		<input type="password" placeholder="Contraseña" name="contrasena"><br>
		<input type="submit" value="Ingresar">
	</form>

</body>
</html>